@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

html {
    font-family: 'Arima', cursive;
}
#demo {

    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    margin-top: -75px;
    /* height/2 */
    width: auto;
    margin-left: -110px;
    /* width/2 */
}
.bg-image{
    background-image: url('../images/anh-tao-dong-luc_105243883.jpg');
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}
