@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

html {
    font-family: 'Arima', cursive;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    background-size: cover;

}
#CountDown {

    font-size: 60px;
    /* background-color: rgba(240, 248, 255, 0.385); */
    border-radius: 30px;
    margin: 40px;
}

#header{
    background-color: rgba(0, 11, 20, 0);
}
#date{

    font-size: 20px;

}
h1{

    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
}